/* Overriding the focus border color */
.custom-search-input .ant-input:focus,
.custom-search-input .ant-input-focused,
.custom-search-input .ant-input-affix-wrapper:focus,
.custom-search-input .ant-input-affix-wrapper-focused {
    border-color: red !important; 
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2) 
}

.custom-search-input .ant-input-affix-wrapper:hover {
    border-color: green !important; 
}
